<th:block th:fragment="footer">
    <footer class="footer-section footer-bg">
        <div class="footer-wrapper">
            <!-- Start Footer Top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                                <h5 class="title">INFORMATION</h5>

                            </div>
                            <!-- End Footer Single Item -->
                        </div>

                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                                <h5 class="title">CATEGORIES</h5>

                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                                <h5 class="title">ABOUT US</h5>

                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</th:block>