<th:block th:fragment="modalDelete">
  <div id="modalDelete" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title">Delete</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1 style="text-align:center;">Are you sure?</h1>
          <form>
            <input id="idDelete" hidden>
            <div class="row mt-3" style="margin-left: 270px;">
              <div class="col-lg-3">
                <button id="btn-cancel" data-bs-dismiss="modal" type="button"
                        class="btn btn-outline-primary">
                  Cancel
                </button>
              </div>
              <div class="col-lg-3">
                <button id="btn-delete" data-bs-dismiss="modal" type="button"
                        class="btn btn-outline-danger">
                  Delete it!
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</th:block>